{
  "check-coverage": true,
  "per-file": true,
  "lines": 85,
  "statements": 85,
  "functions": 85,
  "branches": 85,
  "reporter": [
    "text",
    "text-summary",
    "lcov"
  ],
  "include": [
    "lib/**/*.js"
  ],
  "exclude": [
    "routes/xxx.js"
  ],
  "cache": true,
  "clean": true
}
